.carre {
	width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: exampleun; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: exampleun;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleun {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes exampleun {
    from {background-color: red;}
    to {background-color: yellow;}
}

body {
	font-family: Calibri, sans-serif;
}

.carre3fois {
	width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: examplede; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation-name: examplede;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes examplede {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:bluwidth: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: examplede; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation-name: examplede;
    animation-duration: 4s;
    animation-iteration-count: 3;e; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes examplede {
    0%   {background-color:red; left:0px; top:0px;}
    
    50%  {background-color:blue; left:200px; top:0px;}
    
    100% {background-color:red; left:200px; top:0px;}
}

.carreinfini {
	width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: examplede; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation-name: examplede;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.carrereverse {
	width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: examplede;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.carrealternate {
	width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: examplede;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}