body{
  font-size: 3em;
}

/**
* exemple 4
*/
div{
  display: block;
  background-color: lightgrey;
  padding: 0.4em;
}

p{
  display: block;
  width : 500px;

  vertical-align: middle;
  margin: 0.5em 0.5em 0.5em 0.5em;
  text-decoration: inherit;
  padding: 0.5em 0.5em 0.5em 0.5em;
  -webkit-appearance: none;
  border: 2px solid;
  border-color: black;
  border-radius: 6px;
  font-size: 0.9em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: moccasin;
  color: black;
}



/*
* css animation
* =======================================================================
*/

/* Standard syntax */
div p.test1  {animation-timing-function: linear;}
div p.test2  {animation-timing-function: ease;}
div p.test3  {animation-timing-function: ease-in;}
div p.test4  {animation-timing-function: ease-out;}
div p.test5  {animation-timing-function: ease-in-out;}

/* Safari 4.0 - 8.0 */
div p.test1  {-webkit-animation-timing-function: linear;}
div p.test2  {-webkit-animation-timing-function: ease;}
div p.test3  {-webkit-animation-timing-function: ease-in;}
div p.test4  {-webkit-animation-timing-function: ease-out;}
div p.test5  {-webkit-animation-timing-function: ease-in-out;}


.container1 p {
  position:relative;
  -webkit-animation: deplacement 5s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: deplacement 5s infinite alternate ;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes deplacement {
    from {left: 0px;}
    to {left: calc(97% - 500px - 1em);}
}
/* Standard syntax */
@keyframes deplacement {
    from {left: 0px;}
    to {left: calc(97% - 500px - 1em);}
}

.container2 p {
  position:relative;
  -webkit-animation: coloration 3s infinite ; /* Safari 4.0 - 8.0 */
  animation: coloration 3s infinite  ;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes coloration {
    0%   {background-color:red; }
    100% {background-color:blue; }
}

/* Standard syntax */
@keyframes coloration {
  0%   {background-color:red; }
  100% {background-color:blue; }
}
