

body {
  padding: 0;
}

header {
  padding: 60px 50px 170px;
  background: url(../images/chambre.jpg);
  background-size: cover;
}
header h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 80px;
  color: red;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}


header h1:nth-child(1){
  mix-blend-mode: normal;
}
header h1:nth-child(2){  
  mix-blend-mode: screen;
}
header h1:nth-child(3){
  mix-blend-mode: overlay;
}
header h1:nth-child(4){
  mix-blend-mode: multiply;
}
header h1:nth-child(5){
  mix-blend-mode: saturation;
}
header h1:nth-child(6){
  mix-blend-mode: lighten;
}
header h1:nth-child(7){
  mix-blend-mode: color-dodge;
}
header h1:nth-child(8){
  mix-blend-mode: color-burn; 
}
header h1:nth-child(9){
  mix-blend-mode: hard-light;  
}
header h1:nth-child(10){
  mix-blend-mode: soft-light;
}
header h1:nth-child(11){
  mix-blend-mode: difference;
}
header h1:nth-child(12){
  mix-blend-mode: exclusion;
}
header h1:nth-child(13){
  mix-blend-mode: hue;
}
header h1:nth-child(14){
  mix-blend-mode: darken;
}
header h1:nth-child(15){
  mix-blend-mode: color;
}
header h1:nth-child(16){
  mix-blend-mode: luminosity;
}














