 #photoOpac{
   
    opacity: 0.2;
}
	 
 #photoOpac1{
   
    opacity: 0.4;
}

 #photoOpac2{
   
    opacity:1;
}
	 
hr {
	height: 10px;
}
#div{
	margin:2% 2%;
	height:20px;
	width:20px;
	background-color :hsla(240,100%,50%,0.05)   /* 5% opaque blue */   

}
#div1{
	height:20px;
		width:20px;
margin:2% 2%;
	background-color :hsla(240,100%,50%, 0.4)   /* 40% opaque blue */  

}
#div2{
	height:20px;
		width:20px;
margin:2% 2%;
	background-color :hsla(240,100%,50%, 0.7)   /* 70% opaque blue */  

}
#div3{
	height:20px;
		width:20px;
margin:2% 2%;
	background-color :hsla(240,100%,50%,   1)   /* full opaque blue */ 
}

