.newspaper {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  padding: 2%;
  column-count: 3;
}

.newspaper2 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  padding: 2%;
  column-count: 3;
  column-gap: 100px;
}

.newspaper3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  padding: 2%;
  column-count: 3;
  column-gap: 100px;
  column-rule-style: solid;
}

.newspaper4 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  padding: 2%;
  column-count: 3;
  column-gap: 100px;
  column-rule-style: solid;
  column-rule-width: 1px;
}

.newspaper5 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  padding: 2%;
  column-count: 3;
  column-gap: 100px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: red;
}

.newspaper6 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  padding: 2%;
  column-count: 3;
  column-gap: 100px;
  column-rule: 1px solid red;
}

.newspaper7 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  padding: 2%;
  column-count: 3;
  column-gap: 100px;
  column-rule: 1px solid red;
}

.newspaper8 {
  padding: 2%;
  column-gap: 100px;
  column-rule: 1px solid red;
  column-width: 100px;
}

.title {
  column-span: all;
}

span.warning {
  color : red;
}

img {
  max-width: 100%;
  height: auto;
}
