img{
    max-width: 100%;
    height: auto;
}

.simple_transition{
    width: 150px;
    height: 100px;
    line-height: 100px;
    background: red;
    text-align: center;
    transition: width 2s, height 2s, line-height 2s;
}
.simple_transition:hover{
    width:300px;
    line-height: 200px;
    height: 200px;
}

.transition-property {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: red;
    transition-property: width;
}
.transition-property:hover {
    width: 300px;
}

.transition-duration {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: red;
    transition-property: width;
    transition-duration: 5s
}
.transition-duration:hover {
    width: 300px;
}

.transition-delay {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: red;
    transition-property: width;
    transition-duration: 5s;
    transition-delay: 1s;
}
.transition-delay:hover {
    width: 300px;
}

.transition-timing-function {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: red;
    transition-property: width;
    transition-duration: 5s;
    transition-delay: 1s;
    transition-timing-function: steps(4,end);
}
.transition-timing-function:hover {
    width: 300px;
}

.transition {
    width: 100px;
    height: 100px;
    background: red;
    /* property name | duration | timing function | delay */
    transition: width 5s steps(4,end) 1s;
}
.transition:hover {
    width: 300px;
}