.contenLinear{
    float: left;
    margin-left:10px;
    margin-bottom : 70px;
    height : 300px;
    width : 250px;
}

p:first-child{
    height: 250px;
    width: 250px;
}

p:last-child {
    text-align: center;
}

a{
    float: right;
    font-size : 20px;
    margin-top:50px;
    padding-right: 20px;
}

#AvecOrientation{
    background: linear-gradient(to right, yellow, red);
}
#Avec2Orientations{
    background: linear-gradient(to top right, cyan, brown);
}
#AvecAngle{
    background: linear-gradient(98deg, green, pink);
}
#SansOrientation{
    background: linear-gradient(blue, red);
}
#Avec2Couleurs{
    background: linear-gradient(to right, blue, green);
}
#AvecPlusieursCouleurs{
    background: linear-gradient(-110deg,purple, blue, green, yellow, red);
}
#Transparence{
    background: linear-gradient(to right,rgba(255,0,0,0.3), rgba(0,255,25,0.8));
}
#TransparenceImage{
    background : linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)), url(pic.jpg);
}
#pointArrivee{
    background: linear-gradient(to right, rgba(255,0,0,1)70%, rgba(0,255,25,0.8));
}
#pointArrivee2{
    background: linear-gradient(to right, blue 10%, white 80%, orange);
}
#RepatingCol{
    background: repeating-linear-gradient(90deg,red 5px, rgba(52,255,86,1) 75px);
}
#RepatingCol2{ /** En comm */
    background: repeating-linear-gradient(190deg,red,blue 7%,green 10%);
}
#blenda{ /** En comm */
    background:repeating-linear-gradient(
            50deg,
            #F7A37B,
            #F7A37B 1em,
            #FFDEA8 1em,
            #FFDEA8 2em,
            #D0E4B0 2em,
            #D0E4B0 3em,
            #7CC5D0 3em,
            #7CC5D0 4em,
            #00A2E1 4em,
            #00A2E1 5em,
            #0085C8 5em,
            #0085C8 6em);
}

#blendb{
    background: repeating-linear-gradient(
        -50deg,
        #F7A37B,
        #F7A37B 1em,
        #FFDEA8 1em,
        #FFDEA8 2em,
        #D0E4B0 2em,
        #D0E4B0 3em,
        #7CC5D0 3em,
        #7CC5D0 4em,
        #00A2E1 4em,
        #00A2E1 5em,
        #0085C8 5em,
        #0085C8 6em);
}

#blendb:hover{
    background: repeating-linear-gradient(
            50deg,
            #F7A37B,
            #F7A37B 1em,
            #FFDEA8 1em,
            #FFDEA8 2em,
            #D0E4B0 2em,
            #D0E4B0 3em,
            #7CC5D0 3em,
            #7CC5D0 4em,
            #00A2E1 4em,
            #00A2E1 5em,
            #0085C8 5em,
            #0085C8 6em
    ),
    repeating-linear-gradient(
            -50deg,
            #F7A37B,
            #F7A37B 1em,
            #FFDEA8 1em,
            #FFDEA8 2em,
            #D0E4B0 2em,
            #D0E4B0 3em,
            #7CC5D0 3em,
            #7CC5D0 4em,
            #00A2E1 4em,
            #00A2E1 5em,
            #0085C8 5em,
            #0085C8 6em
    );
    background-blend-mode: multiply;
}