@charset "UTF-8";

body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F5F5F5;
	background-image :url("https://ak6.picdn.net/shutterstock/videos/6119483/thumb/1.jpg");
	background-repeat : none;
	background-size : 100%;
	background-position : fixed;
    background-attachment: fixed;
}

.txt{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	    box-shadow: 4px 4px 12px #555;
		padding : 10px;
		margin : 10px;
}
.separation{
  border-top: solid blue;
}
h1 {
  font-size: 60px;
  color: red;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: 50px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

h3 {
  font-size: 40px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
}

h4 {
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

h5 {
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

h6 {
  font-size: 15px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Times, Times New Roman, serif;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
}

ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  display: list-item;
}

li {
  display: list-item;
  list-style: disc;
  padding-left: 3%;
  font-size: 15px;
  font-family: Andale Mono, monospace;
}

img{
  max-width:100%;
  margin:auto;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	color:red;
}

/* Exemple Grid VS */

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 2px solid #490A3D;
  border-radius:5px;
  background-color: #BD1550;
  color: #fff;
  flex: 1 1 200px;
  list-style:none;
}

.cards h2 {
  background-color: #490A3D;
  margin: 0;
  padding: 10px;
  font-size:20px;
}

.cards p {
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.flex li {
  flex: 1 1 200px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}
