.container{
	padding: 5%;
}

.radial-demo{
	height: 150px;
	width: 400px;
	max-width: 100%;
}
/*Valeurs par défaut*/
.default-ellipse{
	background-image: radial-gradient(blue, red );
}
/*Forme de cercle*/
.circle{
	background-image: radial-gradient(circle, blue, red );
}

/*Cercle compris dans le conteneur*/

.circle-included{
	background-image: radial-gradient(circle closest-side, blue, red );
}

/*Point de départ de dégradation personnalisé (haut à gauche)*/

.custom-center{
	background-image: radial-gradient(circle at top left, blue, red 20% );
}

/*Point de départ de dégradation personnalisé (avec coordonnés)*/

.custom-center-1{
	background-image: radial-gradient(circle closest-side at 50px 50px, blue, red 100% );
}

/*Dégradation radiale répétée*/
.repeating-radial-1{
	background-image: repeating-radial-gradient(circle closest-side, blue, red 40px);
}

a{
	font-size: 20px;
	padding:10px;
	text-align:right;
}